#Sprite{
	background: transparent url(SpritePame.png) 0 0 no-repeat;
	position: absolute;
	display : block;
	left : 50%;
	top: 53%;
	width: 128px;
	height: 128px;
	z-index: 2000;
	cursor: pointer;
}

#background {
  background: #aedfe5 url(mapa2.png) 0 0 no-repeat;
  background-position : 0 0;
  transition-duration : 1s;
   background-size: 1000px
}

#buttons{
	text-align:center;
	line-height: 150%;
	padding: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: gray;
    position : fixed;
    bottom : 5px;
    right : 10px;
}