#Sprite{
	background: transparent url(SpritePame.png) no-repeat;
	position: relative;
	display : block;
	left : 35px;
	top: 170px;
	width: 128px;
	transition: top 1s, left 1s ease 0s;
	height: 128px;
	z-index: 2000;
}


#map {
  position: relative;
  z-index: 1;
  background: transparent url(mapa2.png) 0 0 no-repeat;
  background-size: 750px
}

#buttons{
	text-align:center;
	line-height: 150%;
	padding: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: gray;
    position : absolute;
    bottom : 5px;
    right : 10px;
}